.landing_page_main {
  background-color: #fff;
  height: 100%;
  width: 100%;
}

.landing_heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.sign_in_btn > button {
  padding: 6px 15px;
  border: none;
  border-radius: 5px;
  width: 102px;
  outline: none;
}

.sign_in_btn > button > a {
  color: unset;
  text-decoration: none;
}
.signin_btn {
  color: #000;
  background-color: #fff;
}

.signup_btn {
  background-color: var(--color-success);
  color: #fff;
}

.landing_heading > .landing_logo {
  text-transform: uppercase;
  color: var(--color-text-primary);
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.hero_text_heading{
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 72px;
line-height: 76px;
/* or 106% */

text-align: center;
letter-spacing: -0.02em;

color: var(--color-text-primary);
}
.hero_text{
    margin: 60px 0;
    text-align: center;
}

.hero_sub_heading{
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 30px;
/* identical to box height, or 125% */

text-align: center;
letter-spacing: -0.42px;

color: #424242;
margin: 30px 0;
}

.sign_up_now{
 
padding: 16px 32px;

width: 201px;
height: 59px;

background: var(--color-success);
border: 1px solid var(--color-success);
/* Shadow/xs */

box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
border-radius: 8px;
color: #fff;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 27px;
}
.sign_up_now > a{
    color: unset;
    text-decoration: none;
}
.preview_sect{
    position: relative;
}