.bot_skills_container {
  margin: 24px;
  display: flex;
  gap: 30px;
}

.skill_list {
  width: 50%;
}

.skill_list_head {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.skill_list_head h4 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
  color: var(--color-text-primary);
}
.skill_list_head p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  /* or 129% */
  color: #475467;
}

.add_skill_btn button {
  border: none;
  transition: all 0.2s;
  outline: none;
  background: var(--color-primary);
  color: var(--color-background);
  padding: 8px 12px;
  width: 123px;
  height: 40px;
  border-radius: 8px;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

.add_skill_btn button:hover {
  background-color: var(--color-success);
}

.add_skill_btn {
  width: 70%;
}

.skills {
  border: 1px solid var(--color-border);
  margin-top: 30px;
  padding: 12px;
  border-radius: 8px;
}

.skill {
  padding: 12px 16px;
  cursor: pointer;
  background: var(--color-background);
  /* background-color: #eee; */
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 9px;
  transition: all .2s;
}

.skill:hover{
  background: var(--color-list-hover);
}

.skill.selected {
  background: var(--color-primary-light);
}

.skill_img {
  height: 45px;
  width: 60px;
  border: 1px solid var(--color-primary);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skill_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.skill_title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: var(--color-text-primary);
}

.skill_desc {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  /* or 129% */
  color: #475467;
}

.skill_version {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: var(--color-text-primary);
}

.skill_parent {
  border-bottom: 1px solid var(--color-border);
  padding: 6px 0px;
}

.skill_parent:last-child {
  border-bottom: none;
}

.enable_or_disable_btn {
  padding: 4px 8px;

  width: 62px;
  height: 26px;
  color: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid var(--color-primary);
  border-radius: 6px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  background: transparent;
  margin-top: 10px;
}

.enable_or_disable_btn:disabled {
  background: var(--color-btn-disable);
  color: var(--color-text-disable);
  border: 1px solid var(--color-border);
}
/* skill info styles */
.bot_skill_info_container {
  margin: 24px;
}

.skill_info_img {
  width: 60px;
  height: 60px;
  background: #e9f1ff;
  border-radius: 8px;
  /* padding: 5px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.skill_info_img img {
  width: 100%;
  border-radius: 8px;
  height: 100%;
  object-fit: contain;
}

.bot_skill_info_head {
  display: flex;
  justify-content: space-between;
}

.skill_info_enable_handler {
  padding: 6px 12px;
  gap: 4px;

  width: 94px;
  height: 30px;

  background: #ff1c1c;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-background);
  border: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}

.skill_provider {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #475467 !important;
  text-decoration: none;
}

.skill_info_tabs {
  display: flex;
  margin-top: 40px;
  gap: 69px;
  align-items: center;
  border-bottom: 1px solid var(--color-border);
}
.skill_info_tabs > button {
  border: none;
  outline: none;
  padding: 0;
  background: transparent;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 5px;
  /* identical to box height, or 129% */
  color: #475467;
}

.skill_info_tabs > button.active {
  color: var(--color-primary);
  font-weight: 600;
  position: relative;
  border-bottom: 3px solid var(--color-primary);
}

.skill_info_tabs > button.active::after {
  position: absolute;
  top: 0;
  left: 0;
  height: 10px;
  width: 100%;
  background-color: var(--color-primary);
  border-radius: 5px;
}

.settings_opts {
  border: 1px solid var(--color-border);
  border-radius: 8px;
  padding: 16px;
}

.settings_opt_head{
  margin-bottom: 24px;
}
.settings_opt_head h4 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: var(--color-text-primary);
}

.sectHead{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;

  color: var(--color-text-default);
}


.searchSubmit_btn{
  border: none;
  outline: none;
  background-color: var(--color-primary);
  border-radius: 8px;
  padding: 10px 16px;

  width: 94px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .2s;
  color: var(--color-background);
}

.searchSubmit_btn:hover{
  background-color: var(--color-success);
}


/* switch button */
.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .2s;
  transition: .2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: var(--color-background);
  -webkit-transition: .2s;
  transition: .2s;
}

input:checked + .slider {
  background-color: var(--color-primary);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.bot_skill_info_container.skill_info_loading{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}