.chat_input_container {
  padding: 16px;
  height: 100%;
  background: var(--color-background);
  border: 1px solid #eaecf0;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  font-family: "Inter", sans-serif;
  position: relative;
}

.chat_input_container textarea {
  width: 100%;
  border: 0;
  outline: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  resize: none;
}

.chat_input_container textarea::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #9ca4b3;
}

.chat_input_container textarea::-webkit-scrollbar {
  appearance: none;
  display: none;
}

.chat_input_btn_container {
  max-width: 100%;
  height: 42px;
  background-color: white;
  /* position: absolute;
  bottom: 16px;
  left: 16px;
  right: 16px; */
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chat_input_btn_container .chat_input_btn_left {
  display: flex;
  align-items: center;
  gap: 8px;
}

.chat_input_btn_container .buttons {
  width: 42px;
  height: 42px;
  background: #f7f7f7;
  border: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.chat_input_btn_container input {
  width: 42px;
  height: 42px;
  position: absolute;
  top: 0px;
  border-radius: 100%;
  border: none;
  outline: none;
  background: none;
  opacity: 0;
  cursor: pointer;
  left: 0;
}

.chat_input_btn_container button.send_text_btn {
  background: var(--color-success);
}

.file_container {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  margin-bottom: 3px;
  max-height: 60px;
  overflow-y: auto;
}

.file_main {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  max-width: 190px;
  width: 100%;
  height: 55px;
  background: #f6f6f6;
  padding: 10px 14px;
  border-radius: 7px;
  overflow: hidden;
}
.file_icons {
  height: 40px;
  width: 44px;
  object-fit: contain;
  border-radius: 7px;
}
.image_file{
  width: 20.36px;
  height: 28px;
}

.file_name {
  font-size: 14px;
}

.file_kb {
  font-size: 13px;
}

.closeIcon {
  height: 20px;
  width: 20px;
  margin-top: -9px;
  margin-right: -9px;
  cursor: pointer;
}
.closeIcon > img {
  height: 100%;
  width: 100%;
}

.replyMsg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  gap: 9px;
}

.reply_msg_content{
  background: #f2f4f7;
  border-radius: 0px 8px 8px 8px;
  padding: 7px 11px;
  /* white-space: pre-wrap; */
}

.clearn-context-5 {
  align-items: center;
  background-color: #f6f6f6;
  border-radius: 24px;
  display: flex;
  gap: 8px;
  height: 42px;
  justify-content: center;
  padding: 6px 16px;
  position: relative;
  cursor: pointer;
  width: fit-content;
}

.frame-337-1 {
  height: 18px;
  min-width: 18px;
  position: relative;
}

.clean-context-1 {
  letter-spacing: 0;
  line-height: 16px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.chat_input_content {
  display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 16px;
}